$color-white: #ffffff;
$color-black: #000000;
$color-green: #147d41;
$color-yellow: #F1C42E;
$color-yellow-dark:#c68318;
$color-light-yellow: #f0e4ca;
$color-dark-red: #942136;
$color-light-red: #e9d3d6;
$color-grey: #898989;
$color-blue:#505fec;
$color-blue-light:#dedffb;
$color-blue-light2:#5899db;
$color-orange:#e8743b;
$color-light-green:#1aaa79;
$color-sky:#13a4b5;
$color-grey:#bfbfbf;