@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i,800";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800";
@import "https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Shadows+Into+Light";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-weight: 300;
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

mark {
  background: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1240px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@media (max-width: 1023px) {
  .content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hide-mobile-tablet {
    display: none;
  }
  .only-mobile-tablet {
    display: block;
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .desk-visible {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}
.qbf-btn {
  background-color: #147d41;
  border-radius: 5px;
  width: 100%;
  padding: 12px 25px;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.qbf-btn__group-in {
  display: flex;
  justify-content: center;
}
.qbf-btn-icn {
  width: 10px;
  margin-left: 10px;
}
.qbf-btn:focus {
  color: #ffffff;
}
.qbf-btn:hover {
  color: #ffffff;
  border-color: #006400;
  background-color: #006400;
}
.qbf-btn--sm {
  width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s !important;
}

.qbf-input {
  width: 100%;
  flex: 1;
  position: relative;
  margin-bottom: 40px;
}
.qbf-input-box {
  display: flex;
  width: 100%;
}
.qbf-input__text {
  color: #147d41;
  border: none;
  border-bottom: 2px solid #bfbfbf;
  width: 100%;
  background-color: transparent;
  height: 35px;
  padding: 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .qbf-input-box {
    width: 100%;
    flex-direction: column;
  }
}
.qbf-header {
  background-color: #147d41;
  padding: 24px 0 16px;
  font-size: 0;
}
.qbf-header__in {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qbf-header__logo {
  width: 120px;
  font-size: 0;
}

.qbf-hero-text {
  background-color: #7a1825;
  color: #ffffff;
  padding: 16px 24px;
  text-align: center;
  font-size: 13px;
  line-height: 22px;
}
.qbf-hero-text strong {
  font-size: 20px;
}
.qbf-hero-text__logo img {
  width: 80px;
  vertical-align: top;
}

.qbf-banner {
  font-size: 0;
  position: relative;
}
.qbf-banner__img {
  width: 100%;
  font-size: 0;
}

.qbf-bannerBottom {
  font-size: 0;
}
.qbf-bannerBottom img {
  width: 100%;
}

.qbf-profile {
  padding: 24px 0 24px;
  background-color: #F0E4C9;
}
.qbf-profile__in {
  display: flex;
}
.qbf-profile__info {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 16px;
}
.qbf-profile__body {
  display: flex;
}
.qbf-profile__pic {
  width: 45%;
  transform: translate(0px, -50%);
  border-radius: 50%;
  position: absolute;
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
}
.qbf-profile__dec {
  width: 100%;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}
.qbf-profile__qr {
  width: 50%;
  font-size: 0;
  display: flex;
  align-items: flex-start;
  padding-right: 10px;
  overflow: hidden;
}
.qbf-profile__qr img {
  width: 100%;
  border: 1px solid #AAAAAA;
}
.qbf-profile__name {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}
.qbf-profile__desg {
  font-size: 14px;
  color: #147d41;
  font-weight: 700;
  margin-bottom: 4px;
}
.qbf-profile__company {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  line-height: 18px;
}
.qbf-profile__share {
  display: flex;
  align-items: center;
  justify-content: end;
}
.qbf-profile__share-icn1 {
  max-width: 14px;
}
.qbf-profile__share-icn2 {
  max-width: 11px;
}

.qbf-QrShare {
  display: flex;
  padding: 16px 0;
}
.qbf-QrShare-in {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .qbf-profile__qr img {
    width: 100%;
    max-width: none;
  }
  .qbf-profile__name {
    font-size: 5vw;
    line-height: 5vw;
  }
}
.qbf-share-nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 10px;
}
.qbf-share-nav__btn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #e8743b;
  padding: 8px 0;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.qbf-share-nav__btn--cm {
  background-color: #5899db;
  border-right: 0;
}
.qbf-share-nav__btn--wa {
  background-color: #1aaa79;
  border-bottom: 0px;
}
.qbf-share-nav__btn--em {
  background-color: #13a4b5;
}
.qbf-share-nav__btn:last-child {
  border-right: none;
  border-right: 0;
  border-bottom: 0px;
}
.qbf-share-nav img {
  width: 30%;
  margin-bottom: 8px;
}
.qbf-share-nav__title {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  line-height: 14px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .qbf-share-nav img {
    margin-bottom: 8px;
  }
}
.qbf-bottom {
  padding: 8px 0 16px;
}
.qbf-bottom__main {
  margin-top: auto;
}
.qbf-bottom--v2 {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  padding-top: 12px;
}
.qbf-bottom__in {
  display: flex;
  justify-content: space-between;
}
.qbf-bottom-box {
  width: 30%;
  padding: 8px 4px 0;
}
.qbf-bottom__qb-ftr {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qbf-bottom__qb-ftr img {
  width: 32px;
}
.qbf-bottom__qb-ftr-in {
  display: flex;
  text-align: center;
  justify-content: center;
}
.qbf-bottom__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8px 8px 0;
}
.qbf-bottom__app::before {
  content: "";
  height: 100%;
  width: 1px;
  left: 0;
  top: 0;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(20, 125, 65) 50%, rgba(255, 255, 255, 0) 100%);
}
.qbf-bottom__app::after {
  content: "";
  height: 100%;
  width: 1px;
  right: 0;
  top: 0;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(20, 125, 65) 50%, rgba(255, 255, 255, 0) 100%);
}
.qbf-bottom__app a {
  width: 30px;
  height: 35px;
}
.qbf-bottom__app img {
  width: 100%;
  height: 100%;
}
.qbf-bottom__app-in {
  display: flex;
  text-align: center;
  justify-content: center;
}
.qbf-bottom__app-1 {
  margin-right: 6px;
}
.qbf-bottom__app-2 {
  margin-left: 6px;
  margin-top: -4px;
}
.qbf-bottom__sociable {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qbf-bottom__sociable a {
  width: 35px;
  height: 35px;
}
.qbf-bottom__sociable img {
  width: 100%;
  height: 100%;
}
.qbf-bottom__sociable-in {
  display: flex;
  text-align: center;
  justify-content: center;
}
.qbf-bottom__sociable__1 {
  margin-right: 6px;
}
.qbf-bottom__sociable__2 {
  margin-left: 6px;
}
.qbf-bottom__txt {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 400;
}

.qbf-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 13px;
  padding: 16px 0;
  background-color: #147d41;
}
.qbf-footer--v2 {
  padding: 16px 0 8px 0;
}
.qbf-footer a {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.qbf-email__warp {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.qbf-email__in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qbf-email__title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.qbf-mainbody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}